#header {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #737373;
}

#customer_logo {
    height: 150px;
}

#rekviziti_show {
    margin-top: 15px;
}

#customer_info {
    margin-top: 15px;
}

.product_logo {
    height: 150px;
}

.center {
    text-align: center;
}

#payment {
    /*border-bottom: 1px solid black;*/
}

#put_card_payment {
    margin-top: 20px;
}

input.form-control {
    margin-top: 5px;
}

button {
    margin-top: 5px;
}

#put_internet_payment {
    display: none;
}

#requested_payment {
    display: none;
}

.selected {
    font-weight: bold;
    color: black;
}

.pointer:hover {
    cursor: pointer;
}

.is_invalid {
    border: 1px solid red;
}